@import '../../assets/styles/variables';

.tabs {
  font-size: $font-size-base;
  margin-bottom: 20px;
  list-style: none;

  li {
    display: inline-block;
    padding: 0 0 0 10px;
    margin: 0 5px 0 0;
    position: relative;
    text-transform: capitalize;
    cursor: pointer;

    span {
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: $color-primary;
      }
    }

    &.active span {
      color: $color-primary;
      font-weight: 600;
    }

    &:first-child {
      padding: 0;

      &::after {
        display: none;
      }
    }

    &::after {
      content: '/';
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.filter-container {
  overflow: hidden;
  position: relative;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  li {
    width: 308px;
    margin: 0 20px 20px 0;
    position: relative;
    height: 194px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .portfolio-info {
      height: 194px;
      overflow: auto;
      position: absolute;
      left: 0;
      padding: 20px 15px;
      background: rgba(255, 255, 255, 0.95);
      border: 1px solid $color-border;
      box-sizing: border-box;
      top: 100%;
      transition: $transition-default;
      width: 100%;
    }

    &:hover .portfolio-info {
      top: 0;
    }

    span {
      display: block;
    }
  }
}

.portfolio-info {
  h2 {
    font: 700 16px/19px $font-family;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
    font-size: $font-size-small;
  }

  a {
    text-decoration: underline;
    color: $color-primary;
    font-size: $font-size-small;
  }
}
